<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144641660-2"></script>
   <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
         dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-144641660-2');
   </script>
   <link rel="icon" type="image/x-icon" href="/favicon.ico">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   <link rel="stylesheet" href="https://francisoliver.dev/assets/css/application.css">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" integrity="sha256-VVbO1uqtov1mU6f9qu/q+MfDmrqTfoba0rAE07szS20=" crossorigin="anonymous" />
   <link rel="stylesheet" href="/css/application.css">
   <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" integrity="sha256-VVbO1uqtov1mU6f9qu/q+MfDmrqTfoba0rAE07szS20=" crossorigin="anonymous" />
   <link rel="preload" as="style" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   <link rel="preload" as="style" href="https://francisoliver.dev/assets/css/application.css">
   <link rel="preload" as="style" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
   <link rel="preload" as="style" href="/css/application.css">
   <meta property="og:locale" content="en_US" />
   <meta name="description" content="Showing and Visualizing PH Earthquakes from the official PHIVOLCS Twitter Account." />
   <meta property="og:description" content="Showing and Visualizing PH Earthquakes from the official PHIVOLCS Twitter Account." />
   <meta property="og:url" content="https://earthquakeph.francisoliver.dev/" />
   <meta property="og:site_name" content="Earthquake PH" />
	 <meta property="og:image" content="/img/main.png" />
   <meta name="twitter:card" content="summary" />
   <meta property="twitter:title" content="Earthquake PH" />
   <meta name="twitter:site" content="@sicnarf_revilo" />
   <script type="application/ld+json">
   {"sameAs":["https://facebook.com/sicnarfzurcrevilo","https://twitter.com/sicnarf_revilo","https://github.com/tripeersyou","https://linkedin.com/in/francisavancena","https://dev.to/sicnarf_revilo","https://instagram.com/francis.avancena"],"description":"Showing and Visualizing PH Earthquakes from the official PHIVOLCS Twitter Account.","@type":"WebSite","url":"https://earthquakeph.francisoliver.dev/","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://francisoliver.dev/assets/img/avatar.png"}},"name":"Francis Oliver Avanceña","headline":"Earthquake PH","@context":"https://schema.org"}
   </script>
   <!-- HTML5 shim, for IE6-8 support of HTML elements -->
   <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   <% if(route == '/'){ %>
   <title>Earthquake PH | Home</title>
   <meta property="og:title" content="Earthquake PH | Home" />
   <%} else if (route == '/quake-map') { %>
   <title>Earthquake PH | Quake Map</title>
   <meta property="og:title" content="Earthquake PH | Quake Map" />
   <%} else if (route == '/about') { %>
   <title>Earthquake PH | About</title>
   <meta property="og:title" content="Earthquake PH | About" />
   <% } else if (route.includes('/quake/')){ %>
   <title>Earthquake PH | Detail</title>
   <meta property="og:title" content="Earthquake PH | Detail" />

   <% } else { %>
   <title>Earthquake PH</title>
   <% } %>
</head>

<body>
   <%- include('menu') %>
   <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" ></script>
   <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
   <script defer src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script defer src="/javascript/application.js"></script>
   <%if(route != '/quake-map') { %>
   <div class="ui container">
      <% } %>
