<div class="ui menu">
  <a href="/" class="item">
    Home
  </a>
  <a href="/quake-map" class="item">
    Quake Map
  </a>
  <a href="/covid-19" class="item">
    COVID-19 Outbreak Map
  </a>
  <a href="/about" class="item">
    About
  </a>
</div>