<%- include('layouts/header') %>
    <style type="text/css" media="screen">
        .container {
            text-align: center;
            padding-top: 30%;
            height:90vh;
        }
    </style>

    <div class="container">
        <h1>Error 404 </h1>
        <h2><strong>Oops &#128542; &hellip;</strong></h2>
        <p>The requested page could not be found.</p>
    </div>

<%- include('layouts/footer') %>