<%- include('layouts/header') %>
 <div id="quake-map">
 </div>

 <script>
    let quakeMap = L.map('quake-map',{zoomControl: false}).setView([12.8797, 121.7740], 5.5);
    let accessToken ='pk.eyJ1IjoiZm9hdmFuY2VuYSIsImEiOiJjazVub3k4bnAwOXVrM2xtZ2FvbmVvcW81In0.GqIGwkG8lgbF_3Q9hXhBng';
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(quakeMap);
    
    $.ajax({
        dataType: "text",
        url:`https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/<%=dataDate%>.csv`,
        success: function(data){ 
            console.log(data);
            let json = $.csv.toObjects(data);
            for(let i = 0; i < json.length; i++){
                let quakeMarker
                if(parseInt(json[i].Confirmed) < 10){
                    quakeMarker = L.circleMarker([parseFloat(json[i].Latitude), parseFloat(json[i].Longitude)], {color: '#00ff00' })
                } else if (parseInt(json[i].Confirmed) < 100){
                    quakeMarker = L.circleMarker([parseFloat(json[i].Latitude), parseFloat(json[i].Longitude)], {color: '#ffff00'})
                } else if (parseInt(json[i].Confirmed) < 1000) {
                    quakeMarker = L.circleMarker([parseFloat(json[i].Latitude), parseFloat(json[i].Longitude)], {color: '#ff0000'})
                } else if (parseInt(json[i].Confirmed) > 1000) {
                    quakeMarker = L.circleMarker([parseFloat(json[i].Latitude), parseFloat(json[i].Longitude)], {color: '#00000'})
                }
                
                quakeMarker.bindPopup(`<b>${json[i]["Country/Region"]} ${json[i]["Province/State"]}</b><br><br><b>Infected:</b> ${json[i].Confirmed}<br><b>Deaths:</b> ${json[i].Deaths}<br><b>Recovered:</b> ${json[i].Recovered}`)
                quakeMarker.addTo(quakeMap)
            }
        }
    });    
    if ("geolocation" in navigator) {
        let currentPositionMarker = '';
        navigator.geolocation.watchPosition(function(position) {
            if (currentPositionMarker != ''){
                quakeMap.removeLayer(currentPositionMarker);
            }
            currentPositionMarker = L.circleMarker([position.coords.latitude, position.coords.longitude],{fillOpacity: 0.5, weight: 1}).addTo(quakeMap)
                .bindPopup("Your current location")
        });
    } else {
        console.log("Geolocation is not available for this device");
    }
 </script>

 <style>
 .ui.menu {
    margin-top: 0px;
    z-index: 9999;}
</style>
<%- include('layouts/footer') %>
