#quake-map{
    height:87vh;
}

.ui.container {
    /* min-height: 86vh !important; */
    margin-bottom: 50px
}

.ui.menu {
    margin-bottom: 0px;
    z-index: 9999;
}

.ui.fixed.bottom.menu {
    margin-top: 10px;
    z-index: 9999;
}

iframe{
    z-index: 0 !important;
}

